*
!.bash_aliases
!.bash_logout
!.bash_profile
!.bashrc
!.gitignore
!.fehbg
!.inputrc
!.Xresources
!/bin
/bin/*
!/bin/i3listen.py
!/bin/myCompress.sh
!/bin/prompt
!/bin/setResolution.sh
!/bin/startupScripts
!/bin/uniqify.py
!/bin/wifi.sh
!/bin/suFreshInstall_RUN_1st.sh
!/bin/userFreshInstall_RUN_2nd.sh
!/bin/displayTitle
!/.config
/.config/*
!/.config/i3
!/.config/polybar
!/.config/nvim
/.config/nvim/*
!/.config/nvim/init.vim
!/.config/nvim/after
/.config/nvim/after/*
!/.config/nvim/after/ftplugin
!/.config/kitty
/.config/kitty/*
!/.config/kitty/kitty.conf
!/.config/compton
/.config/compton/*
!/.config/compton/compton.conf
!/.config/zathura
/.config/zathura/*
!/.config/zathura/zathurarc
!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/share/fonts
!/.ssh
/.ssh/*
!/.ssh/config
!/pics
/pics/*
!/pics/desktop.jpg
